---
import { getCollection } from "astro:content";
import Container from "@components/Container.astro";
import PageLayout from "@layouts/PageLayout.astro";
import ArrowCard from "@components/ArrowCard.astro";
import Link from "@components/Link.astro";
import { dateRange } from "@lib/utils";
import { SITE, HOME, SOCIALS } from "@consts";

const blog = (await getCollection("blog"))
  .filter((post) => !post.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, SITE.NUM_POSTS_ON_HOMEPAGE);

const projects = (await getCollection("projects"))
  .filter((project) => !project.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, SITE.NUM_PROJECTS_ON_HOMEPAGE);

const allwork = (await getCollection("work"))
  .sort(
    (a, b) =>
      new Date(b.data.dateStart).valueOf() -
      new Date(a.data.dateStart).valueOf(),
  )
  .slice(0, SITE.NUM_WORKS_ON_HOMEPAGE);

const work = await Promise.all(
  allwork.map(async (item) => {
    const { Content } = await item.render();
    return { ...item, Content };
  }),
);
---

<PageLayout title={HOME.TITLE} description={HOME.DESCRIPTION}>
  <Container>
    <h4 class="animate font-semibold text-black dark:text-white">
      one must imagine jiaxin happy
    </h4>
    <div class="space-y-16">
      <section>
        <article class="space-y-4">
          <p class="animate">
            in 2025, i was reading a book on an app that had a feature where you
            could click on lines of text to view thoughts left by other readers.
            there was one particular comment that stuck with me - it was about
            the disparity between our verbal language, mental thoughts, and
            physical actions, which can never be truly reconciled. the original
            comment was in chinese; its poetic (and un-ironic?) that i cant do
            it justice in english. i like the analogy of our thoughts and
            feelings being raw tomatoes, and language acts as the blender that
            turns them into consumable tomato juice (not that raw tomatoes can't
            be eaten, maybe this is a bad analogy). what i'm trying to say is: i think it's inevitable that
            certain thoughts lose their essence when we try to convey them to
            others?
          </p>
          <p class="animate">
            i have so many silly little thoughts to share, but not being
            “articulate” enough has always been one of my biggest frustrations
            in life. i have a friend who could always accurately describe
            indescribable feelings i had, then surprise me with new thoughts i
            had never considered. i wish i could be articulate like them. this
            site will hopefully be my valiant attempt to practice!
          </p>
        </article>
      </section>

      <!-- <section class="animate space-y-6">
        <div class="flex flex-wrap gap-y-2 items-center justify-between">
          <h5 class="font-semibold text-black dark:text-white">Latest posts</h5>
          <Link href="/blog">See all posts</Link>
        </div>
        <ul class="flex flex-col gap-4">
          {
            blog.map((post) => (
              <li>
                <ArrowCard entry={post} />
              </li>
            ))
          }
        </ul>
      </section> -->

      <!-- <section class="animate space-y-6">
        <div class="flex flex-wrap gap-y-2 items-center justify-between">
          <h5 class="font-semibold text-black dark:text-white">
            Work Experience
          </h5>
          <Link href="/work"> See all work </Link>
        </div>
        <ul class="flex flex-col space-y-4">
          {
            work.map((entry) => (
              <li>
                <div class="text-sm opacity-75">
                  {dateRange(entry.data.dateStart, entry.data.dateEnd)}
                </div>
                <div class="font-semibold text-black dark:text-white">
                  {entry.data.company}
                </div>
                <div class="text-sm opacity-75">{entry.data.role}</div>
                <article>
                  <entry.Content />
                </article>
              </li>
            ))
          }
        </ul>
      </section>

      <section class="animate space-y-6">
        <div class="flex flex-wrap gap-y-2 items-center justify-between">
          <h5 class="font-semibold text-black dark:text-white">
            Recent projects
          </h5>
          <Link href="/projects"> See all projects </Link>
        </div>
        <ul class="flex flex-col gap-4">
          {
            projects.map((project) => (
              <li>
                <ArrowCard entry={project} />
              </li>
            ))
          }
        </ul>
      </section> -->

      <section class="animate space-y-4">
        <h5 class="font-semibold text-black dark:text-white">talk to me</h5>
        <article>
          <p>
          i'll (physically) mail you a postcard if you want one!
          </p>
        </article>
        <ul class="flex flex-wrap gap-2">
          {
            SOCIALS.map((SOCIAL) => (
              <li class="flex gap-x-2 text-nowrap">
                <Link
                  href={SOCIAL.HREF}
                  external
                  aria-label={`${SITE.NAME} on ${SOCIAL.NAME}`}
                >
                  {SOCIAL.NAME}
                </Link>
                {"/"}
              </li>
            ))
          }
          <li class="line-clamp-1">
            <Link
              href={`mailto:${SITE.EMAIL}`}
              aria-label={`Email ${SITE.NAME}`}
            >
              {SITE.EMAIL}
            </Link>
          </li>
        </ul>
      </section>
    </div>
  </Container>
</PageLayout>
